### Java e Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log

### IDEs (IntelliJ, Eclipse, VS Code) ###
.idea/
*.iml
.classpath
.project
.settings/
bin/
.vscode/

### Configurações Sensíveis (O mais importante!) ###
# Bloqueia arquivos que podem conter sua API KEY
application-local.properties
.env
secret.properties

### Sistema Operacional ###
DS_Store
Thumbs.db